.main {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
}

.header{
  align-items: center;
  background: url(../public/bg-menu.jpg) center / cover no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 20vh;
  width: 100vw;
}

.footer {
  align-items: center;
  background: #023049;
  border-top: 1px solid #eaeaea;
  display: flex;
  flex: 1;
  padding: 2rem 0;
  justify-content: center;
}

.title {
  color: #eaeaea;
  font-size: 3rem;
  line-height: 1.15;
  margin: 0;
  text-transform: uppercase;
}

.title,
.statys {
  text-align: center;
}

.status {
  border: 2px solid #2ba4e5;
  border-radius: 60px;
  color:#2ba4e5;
  cursor: default;
  font-size: 1.2rem;
  line-height: 1;
  margin: 1.5rem 0 0 0;
  padding: 0 1rem;
}

.offline{
  color: red;
}

.online{
  color: green;
}


.grid {
  
  display: flex;
  flex-wrap: wrap;
  min-height: 60vh;
  justify-content:start;
  margin: 0 10vw;
  max-width: 100vw;
}

.card {
  border: 2px solid #eaeaea;
  border-radius: 10px;
  color: inherit;
  
  margin: 1rem;
  width: 500px;
  padding: 1.5rem;
  text-align: left;
  text-decoration: none;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card__form {
  background: rgba(255, 255, 255, 0.829);
  border: 2px solid #eaeaea;
  border-radius: 10px;
  color: inherit;
  min-height: 500px;
  margin: 1rem;
  width: 500px;
  padding: 1.5rem;
  text-align: left;
  text-decoration: none;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card__form h2{
  text-align: center;
}

.card:hover,
.card:focus {
  border-color: #2ba4e5;
  color: #2ba4e5;
  cursor: pointer;
}

.card:active {
  border-color: #010e33;
  color: #010e33;
}

.card h2 {
  font-size: 1.5rem;
  margin: 0 0 1rem 0;
}

.card p {
  font-size: 1.25rem;
  line-height: 1.5;
  margin: 0;
}

.form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.label{
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.input__padrao {
  margin: .3rem;
  padding: .3rem;
  width: 250px;
}

.input__menor{
  width: 50px;
  margin: .3rem .3rem .3rem 2.5rem;
  padding: .3rem;
}

.input__botao{
  margin-top: 1rem;
}

.logo {
  color: #eaeaea;
  height: 1em;
  margin: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    flex-direction: column;
    height: 50vh;
    width: 100%;
  }
  .header{
    height: 30vh;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
